# Binary Classification of Machine Failures

Este é um dataset do Kaggle, sobre vagas de emprego para Ciência de Dados em 2024. Estes dados são do Glassdoor, que fornece informações sobre o mercado de trabalho, tendências do setor e características dos empregadores.
A base pode ser acessada no link: https://www.kaggle.com/competitions/playground-series-s3e17/data

In [1]:
%config InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd

## Carregamento dos dados

Garanta que o arquivo baixado no Kaggle esteja disponível na pasta raiz deste arquivo do Jupyter Notebook

In [2]:
dataset = pd.read_csv("Glassdoor_Job_Postings.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   company                      899 non-null    object
 1   job_title                    900 non-null    object
 2   company_rating               656 non-null    float64
 3   job_description              888 non-null    object
 4   location                     900 non-null    object
 5   salary_avg_estimate          636 non-null    object
 6   salary_estimate_payperiod    636 non-null    object
 7   company_size                 774 non-null    object
 8   company_founded              774 non-null    object
 9   employment_type              774 non-null    object
 10  industry                     774 non-null    object
 11  sector                       774 non-null    object
 12  revenue                      774 non-null    object
 13  career_opportunities_rating  731 non-null    float64
 14  comp_and_benefits_rating     731 non-null    float64
 15  culture_and_values_rating    731 non-null    float64
 16  senior_management_rating     731 non-null    float64
 17  work_life_balance_rating     731 non-null    float64
dtypes: float64(6), object(12)
memory usage: 126.7+ KB

In [4]:
dataset.describe()

,company_rating,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
count,656.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,3.948171,3.838304,3.678796,3.903010,3.677702,3.804378
std,0.440294,0.520020,0.525854,0.545233,0.589133,0.559777
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.700000,3.600000,3.400000,3.600000,3.300000,3.600000
50%,4.000000,3.800000,3.700000,3.900000,3.600000,3.800000
75%,4.200000,4.100000,4.000000,4.200000,4.000000,4.100000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

## Apresentação de todo o conjunto de dados

In [5]:
ds1 = dataset[["company","job_title","company_rating","job_description","location"]].head()
ds2 = dataset[["company","salary_avg_estimate","salary_estimate_payperiod","company_size","company_founded","employment_type"]].head()
ds3 = dataset[["company","industry","sector","revenue","career_opportunities_rating","comp_and_benefits_rating"]].head()
ds4 = dataset[["company","culture_and_values_rating","senior_management_rating", "work_life_balance_rating"]].head()

ds1
ds2
ds3
ds4

,company,job_title,company_rating,job_description,location
0,ABB,Junior Data Analyst,4.0,Junior Data Analyst\nTake your next career ste...,Bengaluru
1,Philips,Data Scientist - AI/ML,4.0,Job Title\nData Scientist - AI/ML\nJob Descrip...,Bengaluru
2,HSBC,Data Science GSC’s,3.9,Job description\nGraduate/ Post-graduate degre...,Bengaluru
3,Facctum Solutions,Data Analyst,NaN,Job Description\nExperience: 0 - 2 years in da...,Karnataka
4,JPMorgan Chase & Co,Data and Analytics - Associate,4.0,JOB DESCRIPTION\n\nYou are a strategic thinker...,India

,company,salary_avg_estimate,salary_estimate_payperiod,company_size,company_founded,employment_type
0,ABB,"₹3,25,236",/yr (est.),10000+ Employees,1883,Company - Public
1,Philips,NaN,NaN,10000+ Employees,1891,Company - Public
2,HSBC,NaN,NaN,10000+ Employees,1865,Company - Public
3,Facctum Solutions,NaN,NaN,1 to 50 Employees,--,Company - Private
4,JPMorgan Chase & Co,NaN,NaN,10000+ Employees,1799,Company - Public

,company,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating
0,ABB,Electronics Manufacturing,Manufacturing,$10+ billion (USD),3.7,3.6
1,Philips,Healthcare Services & Hospitals,Healthcare,$10+ billion (USD),3.8,3.7
2,HSBC,Banking & Lending,Finance,$10+ billion (USD),3.6,3.6
3,Facctum Solutions,--,--,Unknown / Non-Applicable,NaN,NaN
4,JPMorgan Chase & Co,Banking & Lending,Finance,$10+ billion (USD),4.0,3.9

,company,culture_and_values_rating,senior_management_rating,work_life_balance_rating
0,ABB,4.0,3.5,3.9
1,Philips,4.0,3.5,4.0
2,HSBC,3.8,3.4,3.7
3,Facctum Solutions,NaN,NaN,NaN
4,JPMorgan Chase & Co,3.9,3.6,3.7

Seguindo a que discutimos no material, algumas variáveis contendo elementos textuais podem ser caracterizadas em *Dados Estruturados* e *Dados Não Estruturados*. Vamos ver alguns exemplos?

In [6]:
print('Titulos de empregos únicos:',dataset["job_title"].unique().size)
print('===============')
dataset["job_title"].value_counts()

Titulos de empregos únicos: 505
===============

Data Analyst                           121
Data Scientist                          93
Data Engineer                           59
Data Entry Operator                     19
Data Science Intern                      8
                                      ...
IT Business Analyst 2024 Internship      1
Data Visualization                       1
Data Engineer (WFH)                      1
Data Analyst (License Compliance)        1
Data Science Internship                  1
Name: job_title, Length: 505, dtype: int64

In [7]:
print('Setores únicos:',dataset["sector"].unique().size)
print('===============')
dataset["sector"].value_counts()

Setores únicos: 24
===============

Information Technology                         295
--                                             146
Finance                                         80
Management & Consulting                         55
Manufacturing                                   46
Pharmaceutical & Biotechnology                  28
Media & Communication                           23
Retail & Wholesale                              14
Healthcare                                      14
Human Resources & Staffing                      13
Education                                       10
Energy, Mining, Utilities                        7
Real Estate                                      6
Aerospace & Defence                              6
Telecommunications                               6
Agriculture                                      5
Non-profit & NGO                                 5
Construction, Repair & Maintenance Services      4
Insurance                                        4
Transportation & Logistics                       3
Hotel & Travel Accommodation                     2
Arts, Entertainment & Recreation                 1
Legal                                            1
Name: sector, dtype: int64

In [8]:
print('Faturamento anual:',dataset["revenue"].unique().size)
print('===============')
dataset["revenue"].value_counts()

Faturamento anual: 11
===============

Unknown / Non-Applicable            369
$10+ billion (USD)                  191
$2 to $5 billion (USD)               56
$100 to $500 million (USD)           32
$5 to $25 million (USD)              27
$25 to $50 million (USD)             25
$5 to $10 billion (USD)              23
$1 to $5 million (USD)               21
Less than $1 million (USD)           18
$500 million to $1 billion (USD)     12
Name: revenue, dtype: int64

In [9]:
print('Descrição da vaga:',dataset["job_description"].unique().size)
print('===============')
dataset["job_description"].value_counts()

Descrição da vaga: 882
===============

Job Summary :\nOur corporate activities are growing rapidly, and we are currently seeking a full-time, office-based Data Coordinator to join our Core Laboratory/Imaging Services team in Mumbai, India. This position will work on a team to accomplish tasks and projects that are instrumental to the company’s success. If you want an exciting career where you use your previous expertise and can develop and grow your career even further, then this is the opportunity for you.\nResponsibilities :\nAssist in the preparation of Core Lab Data Management documents;\nPerform validation on data transfers and edit programs;\nMaintain data cleanup via edits, data review and data changes; and\nSend data transfers externally.\nQualifications :\nBachelor's degree in life science/ pharmacy/ health related field with strong attention to detail and working knowledge of Excel and Word; and\n1-2 years of experience in a pharmaceutical or CRO setting preferred.\nMedpace Overview :\nMedpace is a full-service clinical contract research organization (CRO). We provide Phase I-IV clinical development services to the biotechnology, pharmaceutical and medical device industries. Our mission is to accelerate the global development of safe and effective medical therapeutics through its scientific and disciplined approach. We leverage local regulatory and therapeutic expertise across all major areas including oncology, cardiology, metabolic disease, endocrinology, central nervous system, anti-viral and anti-infective. Headquartered in Cincinnati, Ohio, employing more than 5,000 people across 40+ countries.\nWhy Medpace? :\nPeople. Purpose. Passion. Make a Difference Tomorrow. Join Us Today.\n\nThe work we’ve done over the past 30+ years has positively impacted the lives of countless patients and families who face hundreds of diseases across all key therapeutic areas. The work we do today will improve the lives of people living with illness and disease in the future.\n\nMedpace Perks\nHybrid work-from-home options (dependent upon position and level)\nCompetitive PTO packages\nCompany-sponsored employee appreciation events\nEmployee health and wellness initiatives\nFlexible work schedule\nCompetitive compensation and benefits package\nStructured career paths with opportunities for professional growth\nAwards\nRecognized by Forbes as one of America's Best Mid-size Companies in 2021, 2022 and 2023\nContinually recognized with CRO Leadership Awards from Life Science Leader magazine based on expertise, quality, capabilities, reliability, and compatibility\n\nWhat to Expect Next\nA Medpace team member will review your qualifications and, if interested, you will be contacted with details for next steps.\n\nEO/AA Employer M/F/Disability/Vets                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      3
Selected intern's day-to-day responsibilities include:\n1. Maintaining and arranging Excel sheets & Google Docs\n2. Working on data annotation, audio annotation and labelling over our platform (training will be given)\n3. Taking updates, managing the workers, and maintaining their accounts in an Excel sheet\n4. Working on the data annotation projects which are provided by the senior\n5. Duration of Internship is 2 months.\n6. Stipend will be 8000 per month\nNote- You must come office for starting 10 days for the training purpose at Noida office (Sec-62)\nWho can apply\nOnly those candidates can apply who:\n1. are available for full time (WFH) internship\n2. can start the internship immediately\n3. are available for duration of 2 months\n4. have relevant skills and interests\nSkill(s) required\nAudio Editing and Making\nVideo Editing\nEnglish Proficiency (Spoken and Written)\nMS-Excel\nMS-Word\nMS-Powerpoint\nJob Type: Internship\nContract length: 3 months\nSalary: From ₹5,000.00 per month\nSchedule:\nDay shift\nWork Location: Remote                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        2
Job Brief\nWe’re on the lookout for a highly skilled Lead Associate with expertise in data analysis to join our Bengaluru team, with minimum of 5 years’ experience, demonstrating advanced proficiency in Excel. As a Lead Associate, your responsibilities will involve designing and implementing complex spreadsheets, analyzing data, and providing valuable insights to drive business decisions. It’s crucial to have an in-depth understanding of spreadsheet structures, including tabs, rows, cells, and columns, coupled with the ability to accurately input and format data for clarity and effective presentation.\nRoles and Responsibilities:\nPrepare, publish, and maintain high-quality data.\nUtilize automated tools to extract data from primary and secondary sources.\nIdentify and rectify corrupted data, coding errors, and related issues.\nDevelop and maintain databases and data systems.\nAnalyze to assess the quality and significance of data.\nFilter data by reviewing reports and performance indicators to identify and correct code problems.\nAnalyze local, national, and global trends affecting both the organization and the industry.\nGenerate reports for management, presenting trends, patterns, and predictions using relevant data.\nProvide stakeholders with final analysis reports, outlining data analysis steps to facilitate informed decision-making.\nRequirements:\nBachelor’s degree in business, banking, finance, or a related field.\nExcel expert with a minimum of 5 years of experience streamlining financial reporting and data analysis.\nHighly organized with strong prioritization skills.\nEffective communication skills, both verbal and written.\nDetail-oriented with a focus on strong data analysis skills.\nHigh mathematical aptitude.\nProficiency in Microsoft Office, particularly Excel and PowerPoint.\nFlexibility to work both day and night shifts.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  2
Every great story has a new beginning, and yours starts here.\nWelcome to Warner Bros. Discovery… the stuff dreams are made of.\nWho We Are…\nWhen we say, “the stuff dreams are made of,” we’re not just referring to the world of wizards, dragons and superheroes, or even to the wonders of Planet Earth. Behind WBD’s vast portfolio of iconic content and beloved brands, are the storytellers bringing our characters to life, the creators bringing them to your living rooms and the dreamers creating what’s next…\nFrom brilliant creatives, to technology trailblazers, across the globe, WBD offers career defining opportunities, thoughtfully curated benefits, and the tools to explore and grow into your best selves. Here you are supported, here you are celebrated, here you can thrive.\nYour New Role:\n\nThis role will work with a fast-paced team to create the data technology stack that can be used to deliver end-user insights used for developing the next generation of digital products and product strategies. You’ll also help build out an internal data pipeline and develop ways to optimize data technologies to shape our digital data strategy.\nYour Role Accountabilities:\n\nGain an understanding of brand and enterprise data warehouse/reporting requirements that will inform the data architecture and modeling approach. Employ these learnings to construct appropriate ETL processes, database queries, and data/permission models that support data aggregation and reporting on actionable insights\nPassion to write code which is efficient, organized, simple and scalable meeting business requirements.\nEnthusiasm to learn and finding opportunity to enhance and adopt in the daily engineering activities is highly desired.\nDeliver end-to-end JIRA User stories meeting quality expectations of the team.\nFamiliarity with BI Tools and able to create semantic layer models for the business users\nGain an understanding of multiple datasets to be able to perform ad-hoc analysis for different business units\nParticipate in QA testing for data pipeline projects as well as implementation changes to the suite of analytical tools\nQualifications & Experiences:\n\nBachelor's degree in computer science, information systems, or information technology.\n3+ years of experience in data engineering\nExperience with programming languages – SQL, Python, AWS Glue and databases (Snowflake, Postgres, Dynamo DB)\nExperience with AWS cloud services – Kinesis, Lambda, IAM Policies\nExperienced in software delivery through continuous integration (for example git, bitbucket, Jenkins, etc.)\nExperienced in one or more automation and scheduling tools (for example Redwood, Airflow, etc.)\nExperience leveraging creative analytics techniques and output to tell a story to drive business decisions\nChampions the capabilities and benefits of analytical data assets. Partner effectively across departments and stakeholders\nSolid business acumen, and critical problem-solving ability, with a capacity for strategic thinking\n\nNot Required but preferred experience:\n\nPublic speaking and presentation skills.\nDeep understanding of API connectivity and data streaming architecture\nHow We Get Things Done…\nThis last bit is probably the most important! Here at WBD, our guiding principles are the core values by which we operate and are central to how we get things done. You can find them at www.wbd.com/guiding-principles/ along with some insights from the team on what they mean and how they show up in their day to day. We hope they resonate with you and look forward to discussing them during your interview.\nThe Legal Bits…\nWarner Bros. Discovery embraces the opportunity to build a workforce that reflects the diversity of our society and the world around us. Being an equal opportunity employer means that we take seriously our responsibility to consider qualified candidates on the basis of merit, regardless of sex, gender identity, ethnicity, age, sexual orientation, religion or belief, marital status, pregnancy, parenthood, disability or any other category protected by law.\nIf you’re a qualified candidate and you require adjustments or accommodations to search for a job opening or apply for a position, please contact us at recruitadmin@wbd.com.    2